{% extends './layouts/base.html' %}
{% load static %}
{% block title %}Galeria{% endblock title %}

{% block content %}
    <h1>Galeria</h1>
    <ul>
        <li><img src="{% static './img/foto1.jpg' %}"></li>
        <li><img src="{% static './img/foto2.jpg' %}"></li>
        <li><img src="{% static './img/foto3.jpg' %}"></li>
        <li><img src="{% static './img/foto4.jpg' %}"></li>
        <li><img src="{% static './img/foto5.jpg' %}"></li>
        <li><img src="{% static './img/foto6.jpg' %}"></li>
    </ul>
{% endblock content %}